# Copiar a .env y ajustar si es necesario
# cp .env.example .env

# Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW__WEBSERVER__SECRET_KEY=cambia-esto-en-produccion

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
