# MLflow
mlruns/
mlartifacts/
mlflow.db

# Datos crudos y procesados (no versionar datos)
data/raw/
data/processed/

# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
venv/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# MkDocs build
site/

# Artefactos de modelos entrenados (carpeta raíz, no src/)
/models/

# Airflow — runtime (no versionar)
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py
standalone_admin_password.txt

# Entorno virtual de Airflow
.venv-airflow/

# OS
.DS_Store
